body {
    max-width: 1050px;
    margin: 0 auto;
    background-color: #8b656547;
}

.header .header-nav .header-nav_items .header-nav_item {
    font-size: 1.5rem;
    margin: 30px;
}

main {
    flex-direction: unset;
}

.main_side-bar, .main_content {
    display: unset;
}
